/*

html,body,#mapDiv,.map.container{
    padding:0;
    margin:0;
    height:100%;
    }

#legendDiv{
    background-color: #fff;
    position: absolute !important;
    z-index: 99;
    top:10px;
    right:20px;
    }
*/

html, body {
  height: 97%;
  width: 98%;
  margin: 1%;
}

#mapDiv {
    padding:0;
    margin:0;
    height:100%;
    }

#rightPane {
  width: 20%;
}

#legendPane {
  border: solid #97DCF2 1px;
}
